button {
    border: none;
    width: 120px;
    height: 35px;
    background-color: #333;
    color: #EFCB68;
    font-family: Noto Sans, sans-serif;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #EFCB68;
    color: #333;
    opacity: 0.8;
}

span {
    font-size: 16px;
}