table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

table {
    width: 80vw;
    margin: auto;
    background-color: #eee;
    font-family: Noto Sans, sans-serif;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

td, th {
    padding: 10px;
    font-weight: 700;
}

th {
    background-color: grey;
    text-align: inherit;
    color: #333;
}

td {
    color: #333;
}